/deep/ .stats-card{
    width: 400px;
    margin: 10px 10px 10px 10px;
}

/deep/ .facts-card{
    height:390px;
}

/deep/ .facts-list{
    overflow-y:auto;
    height:300px;
}

md-sidenav{
    width: 320px;
    
}

/deep/md-list-item p{
    font-size:15px;
}

/deep/.icon-10{
    font-size: 12px;
    margin-top: 25px;
    margin-right:-5px;

}

/deep/.numeric-stat{
    font-weight:bold;
    font-size:18px;
    color: orangered;
}
.active{
    color:#1976d2 ;   
    font-weight: bold;   
    background-color: #BDBDBD;
}


md-list-item{
    font-size: 16px;
    font-weight: 500;
    
}