/deep/ .stats-card{
    width: 400px;
    margin: 10px 10px 10px 10px;
    
    align-self: flex-start;
}

md-sidenav{
    width: 320px;
    
}

/deep/md-list-item p{
    font-size:15px;
}

/deep/.icon-10{
    font-size: 12px;

}

/deep/.numeric-stat{
    font-weight:bold;
    font-size:18px;
}
.active{
    color:#1976d2 ;   
    font-weight: bold;   
    background-color: #BDBDBD;
}

md-list-item{
    font-size: 16px;
    font-weight: 500;
    
}