/deep/ .stats-card{
    width: 400px;
    margin: 10px 10px 10px 10px;
    
    align-self: flex-start;
}

md-sidenav{
    width: 320px;
}



/deep/.icon-10{
    font-size: 14px;
    margin-right: -8px;
    margin-top: 5px;
}
/deep/ p{
    font-weight: 500;
}


.active{
    color:#1976d2 ;   
    font-weight: bold;   
}
