<div fxLayout="row">
    <!--<md-sidenav-container class="content">
        <md-sidenav mode="side"  opened="true">-->
            <md-nav-list fxLayout="column" class="navList">
                <md-list-item *ngFor="let option of options" [ngClass]="{'active':selectedOption==option.value}" (click)="onSelect(option.value)">
                    {{option.viewValue}}
                </md-list-item>
            </md-nav-list>
        <!--</md-sidenav>

    </md-si*ngIf="selectedOption == 'setups'"denav-container>-->


    <div style="margin-top:10px">
        <setup fxLayoutWrap *ngIf="selectedOption == 'setups'"></setup>
        <data-center fxLayoutWrap *ngIf="selectedOption == 'datacenters'"></data-center>
        <cluster fxLayoutWrap *ngIf="selectedOption == 'clusters'"></cluster>
        <host fxLayoutWrap *ngIf="selectedOption == 'hosts'"></host>
        <virtual-machine fxLayoutWrap *ngIf="selectedOption == 'vms'"></virtual-machine>
        <storage fxLayoutWrap *ngIf="selectedOption == 'storage'"></storage>


    </div>

</div>









