<div fxLayoutWrap [@flyIn]>
  <md-card fxFlex="50" class="stats-card">
    <md-card-content>
      <md-list>
        <h3 md-subheader>Facts</h3>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p><span class="numeric-stat">{{statistics.vms_count}}</span> Virtual Machines are currently stored in the system.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each Virtual Machine has <span class="numeric-stat">{{statistics.average_mem_size}}MB</span> of memory size.</p>
        </md-list-item>
         <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum memory size found in a Virtual Machine: <span class="numeric-stat">{{statistics.max_mem_size}}MB</span>.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, <span class="numeric-stat">{{statistics.average_mem_usage}}%</span> of each Virtual Machine's memory is being used.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, <span class="numeric-stat">{{statistics.average_cpu_usage}}%</span> of each Virtual Machine's cpu is being used.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each Virtual Machine has <span class="numeric-stat">{{statistics.average_nics_count}}</span> NICs.</p>
        </md-list-item>
         <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum number of NICs found in a Virtual Machine: <span class="numeric-stat">{{statistics.max_nics_count}}</span>.</p>
        </md-list-item>
      </md-list>
    </md-card-content>

  </md-card>

  <md-card class="stats-card">
    <md-card-content>

      <md-list>
        <h3 align="center" md-subheader>OS Distribution</h3>

      </md-list>
      <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' [labels]="labels.osTypesLabels" [data]="data.osTypesData"
        [chartType]="'doughnut'" [options]="osTypesChartOptions">
      </canvas>
    </md-card-content>

  </md-card>

  <md-card class="stats-card">
    <md-card-content>

      <md-list>
        <h3 align="center" md-subheader># of vCPUs Distribution</h3>

      </md-list>
      <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' 
        [labels]="labels.numOfCpusLabels" 
        [data]="data.numOfCpusData"
        [chartType]="'doughnut'" 
        [options]="displayTypesChartOptions">
      </canvas>
    </md-card-content>

  </md-card>

  <md-card class="stats-card">
    <md-card-content>

      <md-list>
        <h2 align="center" md-subheader>Display Types Distribution</h2>

      </md-list>
      <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' [labels]="labels.displayTypesLabels"
        [data]="data.displayTypesData" [chartType]="'doughnut'" [options]="displayTypesChartOptions">
      </canvas>
    </md-card-content>

  </md-card>





</div>