<md-card class="stats-card">
  <md-card-content>
    <md-list>
      <h2 md-subheader>Facts</h2>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>{{statistics.hosts_count}} Hosts are currently stored in the system.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each Host has {{statistics.average_mem_size}}MB of memory size.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, on each Host {{statistics.average_running_vms}} Virtual Machines are running.</p>
      </md-list-item>
    </md-list>
  </md-card-content>

</md-card>

<md-card class="stats-card">
  <md-card-content>

    <md-list>
      <h2 align="center" md-subheader> Hosts CPU Manufacturer Distribution</h2>
    </md-list>
    <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' [labels]="cpuLabels" [data]="cpuData"
      [chartType]="'pie'" [options]="chartOptions">
    </canvas>

  </md-card-content>
</md-card>


<md-card class="stats-card">
  <md-card-content>

    <md-list>
      <h2 align="center" md-subheader> Hosts CPU Cores Distribution</h2>
    </md-list>
    <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' [labels]="coresLables" [data]="coresData"
      [chartType]="'pie'" [options]="chartOptions">
    </canvas>

  </md-card-content>

</md-card>