<div>
    <h2 md-dialog-title>{{setup._id}}</h2>
    <md-dialog-content>
        <md-list>
            <md-list-item>
                <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
                <p>Contains {{setup.dcs_count}} Data Centers.</p>
            </md-list-item>
            <md-list-item>
                <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
                <p>Contains {{setup.clusters_count}} Clusters.</p>
            </md-list-item>
            <md-list-item>
                <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
                <p>Contains {{setup.hosts_count}} Hosts.</p>
            </md-list-item>
            <md-list-item>
                <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
                <p>Contains {{setup.vms_count}} Virtual Machines.</p>
            </md-list-item>
        </md-list>
    </md-dialog-content>
</div>