<md-card class="stats-card">
  <md-list>
    <h3 md-subheader>Facts</h3>
    <md-list-item>
      <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
      <p> {{statistics.datacenters_count}} Data Centers are currently stored in the system.</p>
    </md-list-item>
    <md-list-item>
      <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
      <p>On average, each Data Center contains {{statistics.average_clusters_count}} Clusters.</p>
    </md-list-item>
  </md-list>
</md-card>