<div fxLayoutWrap>
  <md-card class="stats-card">
    <md-list>
      <h3 md-subheader>Facts</h3>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p> {{statistics.datacenters_count}} Data Centers are currently stored in the system.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each Data Center contains {{statistics.average_clusters_count}} Clusters.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>The maximum number of Clusters found in a Data Center: {{statistics.max_clusters_count}}.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each Data Center contains {{statistics.average_networks_count}} Logical Networks.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>The maximum number of Logical Networks found in a Data Center: {{statistics.max_networks_count}}.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each Data Center contains {{statistics.average_storage_count}} Storage Domains.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>The maximum number of Storage Domains found in a Data Center: {{statistics.max_storage_count}}.</p>
      </md-list-item>
    </md-list>
  </md-card>

</div>