<div [@flyIn]>
  <md-card fxFlex="40" class="stats-card facts-card">
    <md-card-header>
      <md-card-subtitle>Facts</md-card-subtitle>
    </md-card-header>
    <md-list class="facts-list">

      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p> <span class="numeric-stat">{{statistics.datacenters_count}}</span> Data Centers are currently stored in the system.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each Data Center contains <span class="numeric-stat">{{statistics.average_clusters_count}}</span> Clusters.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>The maximum number of Clusters found in a Data Center: <span class="numeric-stat">{{statistics.max_clusters_count}}</span>.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each Data Center contains <span class="numeric-stat">{{statistics.average_networks_count}}</span> Logical
          Networks.
        </p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>The maximum number of Logical Networks found in a Data Center: <span class="numeric-stat">{{statistics.max_networks_count}}</span>.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each Data Center contains <span class="numeric-stat">{{statistics.average_storage_count}}</span> Storage
          Domains.
        </p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>The maximum number of Storage Domains found in a Data Center: <span class="numeric-stat">{{statistics.max_storage_count}}</span>.</p>
      </md-list-item>
    </md-list>
  </md-card>

</div>