.toolbar-icon {
  padding:  5px;
  margin-bottom: 20px;
  font-size:36px;
  
}
.toolbar-content{
  margin-left: 10px;
}



.sidenav{
  /*padding-top: 8px;*/
  width: 300px;
}
.container{
  background-color: #e0e0e0;
}


.active{
  color: #1976d2;
  background-color: #E0E0E0;
}


