.toolbar-icon {
  padding:  5px;
  margin-bottom: 20px;
  
}

.toolbar-content{
  margin-left: 10px;
}


.inline-box{
    margin: 50px;
}

.sidenav{
  padding-top: 8px;
  width: 300px;
}
.container{
  background-color: #e0e0e0;
}

.active{
  color: #D84315;
  background-color: #E0E0E0;
}

