<md-card class="stats-card">

  <md-card-content>

    <md-list>
      <h3 md-subheader>Facts</h3>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>Data about {{statistics.storage_count}} Storage Domains is currently stored in the system.</p>
      </md-list-item>
    </md-list>


  </md-card-content>
</md-card>

<md-card class="stats-card">
  <md-card-content>

    <md-list>
      <h3 align="center" md-subheader>Storage Types Distribution</h3>

    </md-list>
    <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' [data]="data" [labels]="labels" [chartType]="'pie'"
      [options]="chartOptions">
    </canvas>

  </md-card-content>

</md-card>