<md-card class="stats-card">
  <md-card-content>
    <md-list>
      <h3 md-subheader>Facts</h3>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>Data about {{statistics.setups_count}} oVirt Setups is currently stored in the system.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each oVirt Setup contains {{statistics.average_dcs_count}} Data Centers.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each oVirt Setup contains {{statistics.average_clusters_count}} Clusters.</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
        <p>On average, each oVirt Setup contains {{statistics.average_hosts_count}} Hosts.</p>
      </md-list-item>
    </md-list>
  </md-card-content>