<div fxLayoutWrap [@flyIn]>
  <md-card style="width:550px;" class="stats-card">
    <md-card-content>
      <md-list>
        <h3 md-subheader>Facts</h3>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p><span class="numeric-stat">{{statistics.setups_count}}</span> oVirt Setups are currently stored in the system.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each oVirt Setup contains <span class="numeric-stat">{{statistics.average_dcs_count}}</span> Data Centers.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum number of Data Centers found in a Setup: <span class="numeric-stat">{{statistics.max_dcs_count}}</span>.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each oVirt Setup contains <span class="numeric-stat">{{statistics.average_clusters_count}}</span> Clusters.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum number of Clusters found in a Setup: <span class="numeric-stat">{{statistics.max_clusters_count}}</span>.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each oVirt Setup contains <span class="numeric-stat">{{statistics.average_hosts_count}}</span> Hosts.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum number of Hosts found in a Setup: <span class="numeric-stat">{{statistics.max_hosts_count}}</span>.</p>
        </md-list-item>
          <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each oVirt Setup contains <span class="numeric-stat">{{statistics.average_vms_count}}</span> Virtual Machines.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum number of Virtual Machines found in a Setup: <span class="numeric-stat">{{statistics.max_vms_count}}</span>.</p>
        </md-list-item>

      </md-list>
    </md-card-content>
  </md-card>
</div>