<div fxLayoutWrap [@flyIn]>
  <md-card fxFlex="50" class="stats-card">

    <md-card-content>

      <md-list>
        <h2 md-subheader>Facts</h2>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p> <span class="numeric-stat">{{statistics.clusters_count}}</span> Clusters are currently stored in the system.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each Cluster contains <span class="numeric-stat">{{statistics.average_hosts_count}}</span> Hosts.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum number of Hosts found in a Cluster: <span class="numeric-stat">{{statistics.max_hosts_count}}</span>.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>On average, each Cluster contains <span class="numeric-stat">{{statistics.average_vms_count}}</span> Virtual Machines.</p>
        </md-list-item>
        <md-list-item>
          <md-icon class="icon-10" md-list-avatar>arrow_forward</md-icon>
          <p>The maximum number of Virtual Machines found in a Cluster: <span class="numeric-stat">{{statistics.max_vms_count}}</span>.</p>
        </md-list-item>
      </md-list>


    </md-card-content>
  </md-card>



  <md-card class="stats-card">
    <md-card-content>

      <md-list>
        <h2 align="center" md-subheader>CPU Family Distribution</h2>

      </md-list>
      <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' [labels]="labels.cpuFamiliesLabels"
        [data]="data.cpuFamiliesData" [chartType]="'pie'" [options]="chartOptions">
      </canvas>

    </md-card-content>

  </md-card>

  <md-card class="stats-card">
    <md-card-content>

      <md-list>
        <h2 align="center" md-subheader>oVirt Version Compatibility Distribution</h2>

      </md-list>
      <canvas *ngIf="ready" baseChart width=326 height=240 style='width:326px;height:240px' [labels]="labels.ovirtCompatibilityLabels"
        [data]="data.ovirtCompatibilityData" [chartType]="'pie'" [options]="chartOptions">
      </canvas>

    </md-card-content>

  </md-card>
</div>