@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue, 700);
$app-accent:  mat-palette($mat-blue-grey);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-pink);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.dark-theme{
    $dark-p: mat-palette($mat-red, 800);
    $dark-a: mat-palette($mat-blue-grey);

    $app-dark-theme: mat-dark-theme($dark-p,$dark-a);
    @include angular-material-theme($app-dark-theme);

}
